<footer class='bg-dark'>
    <div class= 'row  pt-3 pb-3'>
        <div class='col-3 pl-3'>
        <a  href="#"><i class="fa fa-gamepad orange"></i> <i class= 'font-weight-bold white' >GaMeHoUsE  </i></a></div>
        <div class='col-6 d-flex justify-content-between '>
          <a href="" class= 'text-decoration-none' ><p class='orange'>Privacy</p></a>
          <a href="" class= 'text-decoration-none' ><p class='orange'>Policy</p></a>
          <a href="" class= 'text-decoration-none' ><p class='orange'>Terms and Conditions</p></a>
          <p class='white'> Copy Right 2021.All Right Reserved. </p>
        </div>
        <div class='col-3 d-flex justify-content-even pr-0 mr--0'>
          <div class='text-white'>Connect with us: </div>
          <div class='ml-3 mt-0 pt-0'>
          <a href="" class='text-dark'><i class="fa fa-twitter oran p-1 rounded-circle"></i></a>
          <a href="" class='text-dark'><i class="fa fa-instagram oran p-1 rounded-circle"></i></a>
          <a href="" class='text-dark'><i class="fa fa-facebook-square oran p-1 rounded-circle"></i></a>
          </div>
        </div>
    </div>
</footer>