<nav class="navbar navbar-expand-lg navbar-light bg-default">
<h2 class="navbar-brand" href="#"><i class="fa fa-gamepad orange"></i> <i class= 'font-weight-bold orange' >GaMeHoUsE  </i></h2>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#"><span class='orange'>Home </span><span class="sr-only ">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SOCCER</a>
    </li>
    
    <li class="nav-item">
    <a class="nav-link" href="#">CAR RACING</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">ACTION </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">ADVENTURE </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">LOGIC </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">NEW GAME </a>
    </li>
  </ul>
  
   <ul class="navbar-nav ml-auto">
   <li class="nav-item">
    <a class="nav-link" href="#">LOG IN    &nbsp|</a>
    </li>
    <li class="nav-item">
    <a class="nav-link  pl-1" href="#">REGISTER   </a>
    </li>
    <li class="nav-item mt-2">
    <i class="fa fa-search pl-1"></i>
    </li>
   </ul>
</div>

</nav>

<div style= "border-bottom: 2px solid red; width: 18%; color:red;"></div>