
<div class = "row ">
<% @logic.each do |logic| %>
  <div class= "col-md-3">
    <%= image_tag logic.image.url, class:"img-fluid", alt: "car image" %>
  </div>
  <div class= "col-md-3">
    <div>
      <%= logic.category_id %>
    </div>
    <div>
      <%= logic.title %>
    </div>
    <div>
      <%= logic.text %>
    </div>
  </div>
<% end %>
</div>

