soooo
<div class = "row ">
  <% @other.each do |other| %>
    <div class= "col-md-3">
      <%= image_tag other.image.url, class:"img-fluid", alt: "car image" %>
    </div>
    <div class= "col-md-3">
      <div>
        <%= other.category_id %>
      </div>
      <div>
        <%= other.title %>
      </div>
      <div>
        <%= other.text %>
      </div>
    </div>
<% end %>
</div>

