// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.orange {
    color:rgb(247, 81, 4);
}

.oran {
    background-color:rgb(247, 81, 4);
}

.white {
    color: white;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}