
<div class=" grid2" >
    
        <% @leagues.each do |l| %>
            <div>
                <p><%= link_to l.title, l%></p>
            </div>
         <% end %>
   
    
</div><br><br><br><br><br>